body {
    font-family: Arial;
}

label {
    cursor: pointer;
    display:block;
}

.fout {
    display: none;
}

input, select {
    display: block;
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-top: 0.2em;
}

input[type=checkbox], input[type=radio] {
    display: inline;
}

fieldset {
    margin-bottom: 1em;
    width: 20em;
}

.uitleg {
    font-size: 70%;
}

.feedback {
    background-color: navy;
}

.feedback:empty, fout:empty {
    display: none;
}

.zachtAchtergrond {
    background-color: blanchedalmond;
}

.dunneKader {
    border-color: brown;
    border-style: solid;
    border-width: 0.02em;
    padding: 0.2em;
}

.opvallend {
    background-color: greenyellow;
}

table {
    margin-top: 1em;
}

.container {
    margin-top: 1em;
}

.links, .midden, .rechts {
    float: left;
}

.midden, .rechts {
    display: block;
    margin-bottom: 0.4em;
}

.burgerSelect {
    width: 20em;
}

.verborgen {
    display: none;
}

dd {
    font-weight: bold;
    margin-left: 0;
    margin-bottom: 0.5em;
}

.onderGemiddelde {
    color: red;
}

.gemiddelde {
    color: green;
}

.vanafGemoddelde {
    color: blue;
}